<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="rr_dbEntities" connectionString="data source=D:\Projects_2010\RRTooth\RREntities\rr.sqlite" providerName="System.Data.EntityClient" />
    <add name="rr_dbEntities0" connectionString="data source=D:\Projects\rr\RREntities\rr.sqlite" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
